<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="UTF-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/min.css">
    </head>
    <body>
        {% if messages %}
        {% for message in messages.flash %}
        <div class="flash {{ message.type }}">
            <p class="container">{{ message.txt }}</p>
        </div>
        {% endfor %}
        {% endif %}
        <main class="grid has-gutter-xl">
            <aside class="col-4">
                {% include 'elements/nav.twig' %}
            </aside>
            <section class="col-8">
                {% block content %}{% endblock %}
            </section>
        </main>

        <script src="/js/min.js"></script>
    </body>
</html>
