[[extends:base]]

[[block:content]]
  <h1>[[= title ]]</h1>
  <p class="lead">[[- lead ]]</p>
  <section class="about-origin">
    <h2>[[= title_why ]]</h2>
    <div>[[- description_name ]]</div>
  </section>
  <section class="features-list">
    <h2>[[= title_spec ]]</h2>
    <ul>
    [[ for(const spec of specs){ ]]
        <li>
          <span>[[= spec.name ]]</span>
          <strong>[[= spec.value ]]</strong>
        </li>
    [[ } ]]
    </ul>
  </section>

  <p style="margin-top: 2rem;">
  <a href="[[= helpers.urlFor('home', {lang: currentLanguage}) ]]">← [[= text_link ]]</a>
  </p>
[[/block]]