[[extends:base]]

[[block:content]]
  <h1>[[= title ]]</h1>
  <p class="lead">[[= description ]]</p>
  <section class="features-list">
    <h2>Spécifications Techniques</h2>
    <ul>
    [[for(const spec of specs){]]
        <li>
          <span>[[= spec.name ]]</span>
          <strong>[[= spec.value ]]</strong>
        </li>
    [[}]]
    </ul>
  </section>

  <div style="margin-top: 2rem;">
    <!-- Le Web Component interactif de démo -->
    <ui-counter count="80" label="Tours / min"></ui-counter>
  </div>

  <p style="margin-top: 2rem;">
    <a href="/">← Retour à l'accueil</a>
  </p>
[[/block]]