{% extends '../../layout/default.twig' %}

{% block title %}
rechercher un livre par catégorie
{% endblock %}


{% block content %}
<h1>liste des catégories</h1>
<ul style="list-style:none;" class="grid-2 has-gutter">
    {% for categorie in categories %}
    <li style="text-align:center">
        <span>{{ categorie.name }}</span>
        <ul style="list-style:none;">
            <li>
            <a href="{{ url('categorie_update', {'id' : categorie.id }) }}" class="button">éditer</a>
            <a href="{{ url('categorie_delete', {'id' : categorie.id }) }}" class="button danger" onclick="return confirm('voulez vous vraiment supprimer cette catégorie ?')">supprimer</a>
            </li>
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}
