<header class="app-header">
  <p>KIT 80</p>
  <nav>
    <a href="[[= helpers.urlFor('home') ]]" aria-current="[[= currentPath === helpers.urlFor('home') ? 'page' : 'false' ]]">Accueil</a>
    <a href="[[= helpers.urlFor('about') ]]" aria-current="[[= currentPath === helpers.urlFor('about') ? 'page' : 'false' ]]">À propos</a>
    <a href="https://alsacreations.com" target="_blank" rel="noopener noreferrer">Documentation <span class="sr-only">(s'ouvre dans un nouvel onglet)</span></a>
  </nav>
</header>