<header class="app-header">
  <p>KIT 80</p>
  <nav>
    [[ for(const [routeName, text] of Object.entries(menu[currentLanguage])){ ]]
    <a href="[[= helpers.urlFor(routeName, { lang: currentLanguage }) ]]" aria-current="[[= currentPath === helpers.urlFor(routeName, { lang: currentLanguage }) ? 'page' : 'false' ]]">[[= text]]</a>
    [[ } ]]
    <a href="https://alsacreations.com" target="_blank" rel="noopener noreferrer">Documentation</a>
    <ui-selector label="[[= currentLanguage.toUpperCase() ]]">
      <ul class="lang-list">
        [[ for(const lang of languages){ ]]
        <li><a href="[[= helpers.urlFor(currentRouteName, { lang }) ]]" data-value="[[= lang ]]">[[= lang.toUpperCase() ]]</a></li>
        [[ } ]]
      </ul>
    </ui-selector>
  </nav>
</header>