{% extends '../layout/default.twig' %}

{% block title %}
index du catalogue
{% endblock %}


{% block content %}
<h1>Bibliothèques</h1>
<p>Une application basique avec <a href="https://nodejs.org/en/" target="_blank">NodeJS</a> et <a href="https://github.com/niux3/kit80" target="_blank">kit 80</a></p>
<p>La bibliothèque contient au total : </p>
<ul>
    <li><strong>livres</strong> : {{ books }}</li>
    <li><strong>auteurs</strong> : {{ authors }}</li>
    <li><strong>categorie</strong> : {{ categories }}</li>
</ul>
{% endblock %}
