<nav>
    <ul>
        {% for url in context.front_nav %}
        <li><a href="{{ url( url.name ) }}">{{ url.text }}</a></li>
        {% endfor %}
    </ul>
    <hr>
    <ul>
        {% for url in context.admin_nav %}
        <li><a href="{{ url( url.name ) }}">{{ url.text }}</a></li>
        {% endfor %}
    </ul>
</nav>
