<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/catalogue/livres">livres</a></li>
        <li><a href="/catalogue/auteurs">auteurs</a></li>
        <li><a href="/catalogue/categories">catégories</a></li>
        <li><a href="/catalogue/search">rechercher</a></li>
    </ul>
    <hr>
    <ul>
        <li><a href="/catalogue/livres/api">API</a></li>
    </ul>
    <hr>
    <ul>
        <li><a href="/catalogue/auteur_ajouter">Nouvel auteur</a></li>
        <li><a href="/catalogue/livre_ajouter">Nouveau livre</a></li>
        <li><a href="/catalogue/categorie_ajouter">Nouvelle categorie</a></li>
    </ul>
</nav>
